---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import BlogLinks from "../../components/BlogLinks.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style lang="scss">
			main {
				padding: var(--space-s) 0;
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
				<BlogLinks />
			</section>
		</main>
	</body>
</html>
