@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
@custom-variant light (&:where([data-theme=light], [data-theme=light] *));
@custom-variant arc (&:where([data-theme=arc], [data-theme=arc] *));


@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-SemiBold.ttf');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('/fonts/DMSans-Light.ttf');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('/fonts/SpaceGrotesk-VariableFont_wght.ttf');
    font-style: normal;
    font-weight: 300 700;
    font-display: swap;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono-Regular.ttf');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'IBM Plex Serif';
    src: url('/fonts/IBMPlexSerif-LightItalic.ttf');
    font-style: italic;
    font-weight: 400;
    font-display: swap;
}

:root {
    --color-primary: #000000;
    --color-secondary: #4C6879;
    --color-background: #F5F8FA;
    --color-highlight: #F96F62;
    --color-accent: #E0A7AE;
    --color-white: #FBFCFC;

    --color-code: #3C3B39;
    --background-code-color: rgba(119, 117, 112, 0.1);

    --easing: cubic-bezier(.47, -0.01, 1, 1.26);

    --font-display: 'Space Grotesk', sans-serif;
    --font-body: 'DM Sans', sans-serif;
    --font-serif: 'IBM Plex Serif', serif;
    --font-mono: 'Space Mono', monospace;

    --step--2: clamp(0.4297rem, 0.7185rem + -0.1203vw, 0.6944rem);
    --step--1: clamp(0.6953rem, 0.8459rem + -0.0627vw, 0.8333rem);
    --step-0: clamp(1rem, 0.9886rem + 0.0568vw, 1.125rem);
    --step-1: clamp(1.2rem, 1.1436rem + 0.2819vw, 1.8203rem);
    --step-2: clamp(1.44rem, 1.3032rem + 0.6842vw, 2.9452rem);
    --step-3: clamp(1.728rem, 1.4519rem + 1.3806vw, 4.7653rem);
    --step-4: clamp(2.0736rem, 1.5612rem + 2.5621vw, 7.7102rem);
    --step-5: clamp(2.4883rem, 1.5804rem + 4.5395vw, 12.4751rem);

    --space-3xs: clamp(0.25rem, 0.2443rem + 0.0284vw, 0.3125rem);
    --space-2xs: clamp(0.5rem, 0.4943rem + 0.0284vw, 0.5625rem);
    --space-xs: clamp(0.75rem, 0.7386rem + 0.0568vw, 0.875rem);
    --space-s: clamp(1rem, 0.9886rem + 0.0568vw, 1.125rem);
    --space-m: clamp(1.5rem, 1.483rem + 0.0852vw, 1.6875rem);
    --space-l: clamp(2rem, 1.9773rem + 0.1136vw, 2.25rem);
    --space-xl: clamp(3rem, 2.9659rem + 0.1705vw, 3.375rem);
    --space-2xl: clamp(4rem, 3.9545rem + 0.2273vw, 4.5rem);
    --space-3xl: clamp(6rem, 5.9318rem + 0.3409vw, 6.75rem);
}

html[data-theme='light'] {
    /* --color-background: #F8F7F4; */
    /* --color-primary: #092230; */
    /* --color-secondary: #54524F; */
    /* --color-secondary-80: rgba(84, 82, 79, 0.8); */
    --color-code: #3C3B39;
    --background-code-color: rgba(119, 117, 112, 0.1);
}

html[data-theme='dark'] {
    --color-background: #092230;
    --color-primary: #F8F7F4;
    --color-secondary: #C1B9B7;
    --color-secondary-80: rgba(193, 185, 183, 0.8);
    --color-code: #E0D0CC;
    --background-code-color: rgba(119, 117, 112, 0.38);
}

html[data-theme='arc'] {
    --color-background: var(--arc-palette-background);
    --color-primary: var(--arc-palette-maxContrastColor);
    --color-secondary: var(--arc-palette-foregroundPrimary);
    --color-secondary-80: var(--arc-palette-foregroundSecondary);
    --color-code: var(--arc-palette-foregroundSecondary);
    --background-code-color: var(--arc-palette-backgroundExtra);
    --color-highlight-24: var(--arc-palette-hover);
    --color-highlight: var(--arc-palette-title);
}

@theme {
    --color-background: var(--color-background);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-highlight: var(--color-highlight);
    --color-accent: var(--color-accent);
    --color-white: var(--color-white);

    --color-code: var(--color-code);
    --color-code-bg: var(--background-code-color);

    --ease-easing: var(--easing);

    --font-display: var(--font-display);
    --font-body: var(--font-body);
    --font-serif: var(--font-serif);
    --font-mono: var(--font-mono);

    --text-step--2: var(--step--2);
    --text-step--1: var(--step--1);
    --text-step-0: var(--step-0);
    --text-step-1: var(--step-1);
    --text-step-2: var(--step-2);
    --text-step-3: var(--step-3);
    --text-step-4: var(--step-4);
    --text-step-5: var(--step-5);

    --space-3xs: var(--space-3xs);
    --space-2xs: var(--space-2xs);
    --space-xs: var(--space-xs);
    --space-s: var(--space-s);
    --space-m: var(--space-m);
    --space-l: var(--space-l);
    --space-xl: var(--space-xl);
    --space-2xl: var(--space-2xl);
    --space-3xl: var(--space-3xl);
}

body {
    @apply font-body bg-background text-primary text-step-0;
}

@layer components {
    .internal-link {
        @apply text-secondary hover:text-primary relative hover:underline;
    }

    .external-link {
        @apply text-secondary mr-2 hover:text-primary hover:after:translate-x-1 hover:after:translate-y-0 after:translate-y-1 relative after:content-['↗'] after:text-step--1 after:text-secondary after:absolute after:transition-all after:ease-easing after:duration-200;
    }
}

.prose p,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6,
.prose ol,
.prose ul {
    margin-left: auto;
    margin-right: auto;
    width: min(100%, 34rem);
}

.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    color: var(--color-highlight);
}

.prose li {
    margin-left: var(--space-s);
    padding-left: var(--space-2xs);
}

.prose li::marker {
    content: ' -';
}

.prose figure, .prose img {
    margin-top: var(--space-m);
}

h1 {
    font-size: var(--step-4);
}

h2 {
    font-size: var(--step-3);
    color: var(--color-highlight);
    margin-top: var(--space-l);
}

h3 {
    font-size: var(--step-1);
    margin-top: var(--space-m);
}

h4 {
    font-size: var(--step-0);
    margin-top: var(--space-s);
}

h5 {
    font-size: var(--step--1);
    margin-top: var(--space-xs);
}

strong,
b {
    font-weight: 600;
}

em {
    font-family: 'IBM Plex Serif', serif;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

iframe {
    margin-top: var(--space-m);
}

figcaption {
    font-family: 'IBM Plex Serif', serif;
    color: var(--color-secondary-80);
    font-style: italic;
    margin-top: var(--space-2xs)
}

code {
    font-family: 'Space Mono', monospace;
    padding: 2px 5px;
    background: var(--background-code-color);
    color: var(--color-code);
    border-radius: 2px;
    font-variant-ligatures: none;
    font-size: var(--step--1);
}

pre {
    padding: var(--space-m);
    margin-top: var(--space-s);
    border-radius: 8px;
    font-size: var(--step--1);
}

pre > code {
    all: unset;
    font-family: 'Space Mono', monospace;
    font-variant-ligatures: none;
}

blockquote {
    border-left: 4px solid var(--color-highlight);
    padding: 0 0 0 20px;
    margin: 0 auto;
    font-size: var(--step-0);
    width: min(100%, 34rem);
    font-family: 'IBM Plex Serif', serif;
    color: var(--color-secondary);
    font-style: italic;
}

hr {
    border: none;
    border-top: 1px solid var(--color-secondary);
}

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}
