---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { ABOUT_DESCRIPTION } from '../consts';
import Projects from "../components/Projects.astro";
import Links from "../components/Links.astro";
---

<!doctype html>
<html lang="en">
<head>
	<BaseHead title="About" description={ABOUT_DESCRIPTION} />
</head>
<body>
<Header />
<main style="padding: 0 0 var(--space-l); min-height: 100vh; margin-top: var(--space-3xl);">
	<h1 style="color:var(--color-highlight); padding: 0 var(--space-s);">About Me</h1>
	<h3 style="padding: 0 var(--space-s);">Front-end developer, maker, doer, developer <a class="external" href="https://acreom.com" target="_blank">@acreom</a>. Currently making stuff and gathering learnings I will write about in 10 years. Also, I love coffee ☕.</h3>
	<h2 style="padding: 0 var(--space-s);">Colophon</h2>
	<p style="padding: 0 var(--space-s);">This site is statically generated with <a class="external" href="https://astro.build/" target="_blank">Astro</a>. Typescale and spacings are dynamically set using <a class="external" href="https://utopia.fyi/" target="_blank">Utopia</a>.</p>
	<p style="padding: 0 var(--space-s);">Body copy is set in <a class="external" href="https://github.com/googlefonts/dm-fonts" target="_blank">DM Sans</a>. Italics are set in <a class="external" href="https://github.com/clauseggers/Playfair" target="_blank">Playfair Display</a>. Code is set in <a class="external" href="https://github.com/googlefonts/spacemono" target="_blank">Space Mono</a>.</p>
	<p style="padding: 0 var(--space-s);">The source code is available on <a class="external" href="https://github.com/petttr1/devs-love-coffee" target="_blank">Github</a>.</p>
	<h2 style="padding: 0 var(--space-s);">Links</h2>
	<Links />
	<h2 style="padding: 0 var(--space-s);">Projects</h2>
	<Projects />
</main>
</body>
</html>
