---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hi! I’m Peter. Front-end developer, part-time runner, paper books reader, coffee drinker, and an occasional writer.</h1>
			<h2>Recent</h2>
			<h2>About</h2>
			<h3>Maker, doer, part-time thinker, future writer, developer @acreom. Currently making stuff and gathering learnings I will write about in 10 years. Also, I love coffee ☕. Read more.</h3>
			<h2>Quick Links</h2>
			<ul>
				<li>hi@devslovecoffee.com</li>
				<li>Github</li>
				<li>X</li>
			</ul>
		</main>
	</body>
</html>
