---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/header/Header.astro";
import { BLOG_DESCRIPTION } from "../consts";
import BlogLinks from "../components/blog/BlogLinks.astro";
import Links from "../components/Links.astro";
import Projects from "../components/project/Projects.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Home" description={BLOG_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="p-0 pb-(--space-l) min-h-screen mt-(--space-3xl)">
      <h1 class="px-(--space-s) py-0">
        Hi! I'm Peter. Software engineer <a
          href="https://modeinspect.com"
          class="external"
          target="_blank">@modeinspect</a
        >
        driven by curiosity, always building, experimenting, and learning along the
        way, casual runner, and coffee drinker. Sometimes, I write about my learnings.
      </h1>

      <h2 class="px-(--space-s) py-0">Recent Posts</h2>
      <BlogLinks num={5} />

      <h2 id="index-about" class="px-(--space-s) py-0">About</h2>
      <p class="px-(--space-s) py-0">
        This site is statically generated with <a
          class="external"
          href="https://astro.build/"
          target="_blank">Astro</a
        >. Typescale and spacings are dynamically set using <a
          class="external"
          href="https://utopia.fyi/"
          target="_blank">Utopia</a
        >.
      </p>
      <p class="px-(--space-s) py-0">
        Body copy is set in <a
          class="external"
          href="https://github.com/googlefonts/dm-fonts"
          target="_blank">DM Sans</a
        >. Italics are set in <a
          class="external"
          href="https://fonts.google.com/specimen/IBM+Plex+Serif/tester?stroke=Serif"
          target="_blank"><em>IBM Plex Serif</em></a
        >. Code is set in <a
          class="external"
          href="https://github.com/googlefonts/spacemono"
          target="_blank"><code>Space Mono</code></a
        >.
      </p>
      <p class="px-(--space-s) py-0">
        The content is checked and edited by <a
          class="external"
          href="https://github.com/devslovecoffee/editor-ai"
          target="_blank">Editor AI</a
        >.
      </p>
      <p class="px-(--space-s) py-0">
        The source code is available on <a
          class="external"
          href="https://github.com/devslovecoffee/devs-love-coffee"
          target="_blank">Github</a
        >.
      </p>

      <h2 class="px-(--space-s) py-0">Let's Connect</h2>
      <Links />

      <h2 id="index-projects" class="px-(--space-s) py-0">Projects</h2>
      <Projects />
    </main>
  </body>
</html>
