---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import BlogLinks from "../components/BlogLinks.astro";
import Links from "../components/Links.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main style="padding: 0; min-height: 100vh; margin-top: var(--space-3xl);">
			<h1 style="padding: 0 var(--space-s);">Hi! I’m Peter. Front-end developer, casual runner, paper books reader, coffee drinker. Sometimes I write about stuff.</h1>
			<h2 style="padding: 0 var(--space-s);">Recent</h2>
			<BlogLinks num={2} />
			<h2 style="padding: 0 var(--space-s);">Links</h2>
			<Links />
		</main>
	</body>
</html>
