---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import HeaderBlur from "./HeaderBlur.astro";
import ThemeToggle from "./ThemeToggle.astro";

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const transformSubpathName = (name: string) => {
 	return name.split('-').map((word: string) => word.charAt(0).toUpperCase() + word.slice(1)).join(' ');
};
---

<header>
	<HeaderBlur />
	<nav>
		<div class="current-route">
			<HeaderLink class="current-route__main-title" href="/" class:list={[{ active: !subpath}]}>{SITE_TITLE}</HeaderLink>
				{
					subpath?.map((sPath, i) => (
						<span class="current-route__subpath-wrapper"><span class="current-route__divider">/</span><HeaderLink class="current-route__subpath" class:list={[{ active: i === subpath?.length - 1}]} href={`/${subpath.slice(0, i + 1).join('/')}`}>{transformSubpathName(sPath)}</HeaderLink></span>
						))
				}
		</div>
		<div class="internal-links">
			{subpath?.[0] !== 'blog' && <HeaderLink href="/blog/">Blog</HeaderLink>}
			{subpath?.[0] !== 'about' && <HeaderLink href="/about/">About</HeaderLink>}
			<ThemeToggle />
		</div>
	</nav>
</header>
<style lang="scss">
	header {
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		margin: 0;
		z-index: 100;

		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;
			z-index: 100;

			.current-route {
				display: flex;
				align-items: center;

				&__subpath-wrapper {
					&:last-of-type {
						display: none;
						@media(min-width: 768px) {
							display: block;
						}
					}
				}

				span {
					font-size: var(--step-1);
				}

				&__main-title {
					color: var(--color-primary);
					padding: var(--space-xs) var(--space-3xs) var(--space-xs) var(--space-s);

					&.active {
						text-decoration: none;
						color: var(--color-highlight);
					}

					&:not(.active) {
						color: var(--color-secondary);
						&:hover {
							color: var(--color-primary);
						}
					}
				}

				&__subpath {
					color: var(--color-secondary);
					padding: var(--space-xs) var(--space-3xs);

					&.active {
						text-decoration: none;
						color: var(--color-highlight);
					}

					&:hover:not(.active) {
						color: var(--color-primary);
					}
				}

				&__divider {
					user-select: none;
					color: var(--color-secondary);
				}
			}
			.internal-links {
				display: flex;
				align-items: center;
				a {
					padding: var(--space-xs) var(--space-s);
					color: var(--color-secondary);
					text-decoration: none;

					&.home {
						color: var(--color-primary);
					}

					&.active {
						text-decoration: none;
						color: var(--color-highlight);
					}

					&:hover {
						color: var(--color-primary);
					}
				}
			}

		}
	}
</style>
