<ul class="links">
    <li>Email: <a class="external" href="mailto:hi@devslovecoffee.com">hi@devslovecoffee.com</a></li>
    <li><a class="external" href="https://github.com/petttr1" target="_blank">Github</a></li>
    <li><a class="external" href="https://twitter.com/devslovecoffee" target="_blank">X</a></li>
</ul>
<style lang="scss">
    .links {
      padding: 0 var(--space-s);
    }
</style>