---
import { getCollection } from "astro:content";
import BlogLink from "./BlogLink.astro";
interface Props {
  num?: number | null;
}
const { num = null } = Astro.props;

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const displayPosts = num ? posts.slice(0, num) : posts;
---

<ul class="w-full">
  {
    displayPosts.map((post) => (
      <li class="w-full px-(--space-s) relative z-1">
        <BlogLink post={post} />
      </li>
    ))
  }
</ul>
{
  num && (
    <a
      class="internal-link block px-(--space-s) mt-(--space-xs) text-highlight/75 hover:text-highlight"
      href="/blog"
    >
      View {posts.length - displayPosts.length} more
    </a>
  )
}
