---
import FormattedDate from "./FormattedDate.astro";

const { post } = Astro.props;
const { title, pubDate, excerpt } = post.data;
---

<a
  class="group/link flex items-center justify-between py-2.5 hover:py-[9px] hover:border-y border-accent -mt-[1px]"
  href={`/blog/${post.slug}`}
>
  <div class="flex flex-col items-start overflow-hidden">
    <p class="text-highlight font-mono">
      <FormattedDate date={pubDate} />
    </p>
    <p
      class="text-step-2 text-primary leading-normal font-display font-light max-w-full truncate"
    >
      {title}
    </p>
    <p class="text-step-1 text-secondary truncate">{excerpt}</p>
  </div>
  <svg
    class="hidden md:group-hover/link:block w-auto h-full text-accent"
    width="auto"
    height="80"
    viewBox="0 0 148 114"
    fill="none"
    stroke="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M147 62.7227L146.707 63.0156L98.5713 111.207L97.8643 111.915L97.1562 111.207L86.7539 100.793L86.0488 100.086L86.7539 99.3789L116.329 69.7705L116.396 69.7031L116.476 69.6494L122.782 65.377L122.465 64.4219L114.914 65.3438L114.854 65.3516H1V48.4443H114.866L114.938 48.4551L122.471 49.5586L122.782 48.6221L116.476 44.3506L116.396 44.2969L116.329 44.2295L86.7539 14.6211L86.0488 13.9141L86.7539 13.207L97.1562 2.79297L97.8643 2.08496L98.5713 2.79297L146.707 50.9844L147 51.2773V62.7227Z"
      stroke-width="2"></path>
  </svg>
</a>
