---
const { path, id } = Astro.props;
---

<script
  type="text/javascript"
  src="https://rawgit.com/patriciogonzalezvivo/glslCanvas/master/dist/GlslCanvas.js"
></script>
<div class="w-full mx-auto aspect-square">
  <canvas
    id={id}
    width="1000"
    height="1000"
    class="glslCanvas rounded-lg w-full h-full"
    data-fragment-url={path}></canvas>
</div>
